.button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.button img {
    width: 20px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    margin-bottom: 10px;
    border: 1px solid #000;
    width: 100%;
}

.info {
    width: 20vh;
    text-align: left;
}
